<?xml version="1.0" encoding="utf-8"?>
<configuration>
   <configSections>
      <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
         <section name="CRAS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      </sectionGroup>
   </configSections>
   <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <userSettings>
    <CRAS.Properties.Settings>
      <setting name="server" serializeAs="String">
        <value>localhost</value>
      </setting>
      <setting name="vt_name" serializeAs="String">
        <value>brlcglrx_cras</value>
      </setting>
      <setting name="vt_uid" serializeAs="String">
        <value>root</value>
      </setting>
      <setting name="vt_pwd" serializeAs="String">
        <value>12345678</value>
      </setting>
    </CRAS.Properties.Settings>
  </userSettings>
</configuration>